.dogs-wrapper ul {
  list-style: none;
}

.dog-list-wrapper {
  border: solid black;
  display: flex;
  flex-direction: column;
}

.dog-list-wrapper a {
  text-decoration: none;
  color: inherit;
}


.remove-btn {
  margin-left: 8px;
  font-size: .8rem;
}