.walker-info-form {
  border: solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.walker-info-form input {
  width: 10%;
}

.walker-info-form input[type='checkbox'] {
  transform: scale(1.5);
  margin-left: 12px;
}
